<footer>
<div class="container">
<div class="row">
    <div class="">
    <div class="d-md-flex justify-content-between">
        <div class="d-md-flex">
        <ul class="nav justify-content-center" >
            <li class="nav-item">
            <a href="#" class="btn btn-lg link-dark link-underline-opacity-0" style="font-size: 14px;">服務方案</a>
            </li>
            <li class="nav-item">
            <a href="#" class="btn btn-lg link-dark link-underline-opacity-0" style="font-size: 14px;">關於職旅</a>
            </li>
            <li class="nav-item">
            <a href="#" class="btn btn-lg link-dark link-underline-opacity-0" style="font-size: 14px;">聯絡我們</a>
            </li>
        </ul>
        <ul class="nav justify-content-center">
            <li class="nav-item">
            <a href="#" class="btn btn-lg link-dark link-underline-opacity-0" style="font-size: 14px;">隱私權政策</a>
            </li>
            <li class="nav-item">
            <a href="#" class="btn btn-lg link-dark link-underline-opacity-0" style="font-size: 14px;">用戶條款</a>
            </li>

        </ul>
        </div>
        <p class="text-center text-natural">Copyright © 2025 職旅 workway. All rights reserved.</p>
    </div>
    </div>
</div>
</div>
</footer>
